<%
   @rating = @reputation.rating
   @from = User.find_by_id(@reputation.from_id)
   @server = Server.find_by_id(@reputation.server_id)
%>
<br>
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">View Reputation</h3></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2"><strong>From</strong></div>
      <div class="col-sm-10">
        <%= @from.email %><br>
        <%= (@from.email == @server.owner ? 'Owner of ' : 'Player on ') %>
        <%= link_to(@server.title, server_path(@server)).html_safe %>
      </div>
      <div class="col-sm-2"><strong>Rating</strong></div>
      <div class="col-sm-10">
        <% @reputation.rating.times do |i| %>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <% end %>
        <% (5 - @reputation.rating).times do |i| %>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <% end %>
      </div>
      <div class="col-sm-2"><strong>Message</strong></div>
      <div class="col-sm-10">
        <pre><%= @reputation.message %></pre>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_reputation_path(@reputation), {:class => 'btn btn-warning'} %> |
<%= link_to 'Back', reputations_path, {:class => 'btn btn-default'} %>
