<p id="notice"><%= notice %></p>

<h1>Listing Servers</h1>

<table class="table-condensed">
  <thead class="table-striped">
    <tr>
      <th>Owner</th>
      <th>Game</th>
      <th>Title</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody class="table-bordered">
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.owner %></td>
        <td><%= server.game_id %></td>
        <td><%= server.title %></td>
        <td><%= link_to 'Show', server %></td>

        <% if current_user && current_user.email == server.owner %>
            <td><%= link_to 'Edit', edit_server_path(server) %></td>
            <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_server_path %>
