<p>
  <strong>Owner:</strong>
  <%= @server.owner %>
</p>

<p>
  <strong>Game:</strong>
  <% @game = Game.find_by_id(@server.game_id) %>
  <%= ('<a href="' + @game.website + '" target="_blank">' + @game.name + '</a>').html_safe %>
</p>

<p>
  <strong>Title:</strong>
  <%= @server.title %>
</p>

<p>
  <strong>Description:</strong>
<div class="container-fluid">
  <pre class="pull-left"><%= @server.description %></pre>
</div>
</p>

<% if !@server.private %>
    <p>
      <strong>IP Address:</strong>
      <%= @server.ip %>
    </p>
<% end %>

<% if current_user %>
    <% if current_user.email == @server.owner %>
        <%= link_to 'Edit', edit_server_path(@server) %> | <%= link_to 'Destroy', @server, method: :delete, data: {confirm: 'Are you sure?'} %> |
    <% elsif @server.private? %>
        <% @invite = Invite.find_by(from_id: current_user.id, server_id: @server.id) %>
        
        <% if @invite == nil %>
            <%= link_to 'Request Invite', invite_to_server_path(@server) %>
        <% else %>
            <%= link_to 'Check Invite Status', invite_path(Invite.find_by(from_id: current_user.id, server_id: @server.id)), :class => 'btn btn-info' %>
            <br><br>
        <% end %>
    <% end %>
<% end %>
<%= link_to 'Back', servers_path %>
