<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @server.owner %>
</p>

<p>
  <strong>Game:</strong>
  <%= @server.game_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @server.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @server.description %>
</p>

<% if !@server.private %>
    <p>
      <strong>IP Address:</strong>
      <%= @server.ip %>
    </p>
<% end %>

<% if current_user && current_user.email == @server.owner %>
    <%= link_to 'Edit', edit_server_path(@server) %> |
<% end %>
<%= link_to 'Back', servers_path %>
