<%# add navigation links to this file %>
<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
    Games <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <% Game.all.each do |g| %>
    <li><%= link_to g.name, filter_game_path(g.id) %></li>
    <% end %>
  </ul>
</li>
<% if user_signed_in? %>
    <li>
      <a href="<%= invites_path %>">Invites <span class="badge alert-info">
    <%=
        @invites = Invite.where("to_id = '" + current_user.id.to_s + "' AND read = 'f'")
        if (@invites != nil)
          @invites.count
        else
          '0'
        end
    %></span></a>
    </li>
    <li><%= link_to 'Reputation', reputations_path %></li>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %></li>
<% else %>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
