<%# add navigation links to this file %>
<% if user_signed_in? %>
    <li>
      <a href="<%= invites_path %>">Invites <span class="badge alert-info">
    <%=
        @invites = Invite.where("to_id = '" + current_user.id.to_s + "' AND read = 'f'")
        if (@invites != nil)
          @invites.count
        else
          '0'
        end
    %></span></a>
    </li>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %></li>
<% else %>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
