<% if (Server.find_by_owner(current_user.email) != nil) %>
    <h1>Incoming</h1>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>From</th>
        <th>Server</th>
      </tr>
      </thead>

      <tbody style="cursor: pointer; cursor: hand;">
      <% @incoming.each do |invite| %>
          <%
             @class = ""
             if (!invite.read?)
               @class = "info"
             elsif (!invite.active? && invite.accepted?)
               @class = "success"
             elsif (!invite.active? && !invite.accepted?)
               @class = "danger"
             end
          %>
          <tr class="<%= @class %>" data-link="<%= invite_path(invite) %>">
            <td><%= User.find_by_id(invite.from_id).email %></td>
            <td><%= Server.find_by_id(invite.server_id).title %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
    <h1>Outgoing</h1>

    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>Server</th>
        <th>Owner</th>
      </tr>
      </thead>

      <tbody style="cursor: pointer; cursor: hand;">
      <% @outgoing.each do |invite| %>
          <%
             @class = ""
             if (!invite.active? && invite.accepted?)
               @class = "success"
             elsif (!invite.active? && !invite.accepted?)
               @class = "danger"
             end
          %>
          <tr class="<%= @class %>" data-link="<%= invite_path(invite) %>">
            <td><%= Server.find_by_id(invite.server_id).title %></td>
            <td><%= User.find_by_id(invite.from_id).email %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>
