
    <h1>Invites</h1>
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">Incoming</h3></div>
      <div class="panel-body">

        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>From</th>
            <th>Server</th>
          </tr>
          </thead>

          <tbody style="cursor: pointer; cursor: hand;">
          <% @incoming.each do |invite| %>
              <%
                 @class = ""
                 if (!invite.read?)
                   @class = "info"
                 elsif (!invite.active? && invite.accepted?)
                   @class = "success"
                 elsif (!invite.active? && !invite.accepted?)
                   @class = "danger"
                 end
                 @server = Server.find_by_id(invite.server_id)

                 if (@server == nil)
                   @server = Server.new
                   @server.title='Deleted'
                 end
              %>
              <tr class="<%= @class %>" data-link="<%= invite_path(invite) %>">
                <td><%= User.find_by_id(invite.from_id).email %></td>
                <td><%= @server.title %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">Outgoing</h3></div>
      <div class="panel-body">

        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>Server</th>
            <th>Owner</th>
          </tr>
          </thead>

          <tbody style="cursor: pointer; cursor: hand;">
          <% @outgoing.each do |invite| %>
              <%
                 @class = ""
                 if (!invite.active? && invite.accepted?)
                   @class = "success"
                 elsif (!invite.active? && !invite.accepted?)
                   @class = "danger"
                 end
                 @server = Server.find_by_id(invite.server_id)

                 if (@server == nil)
                   @server = Server.new
                   @server.title='Deleted'
                   @server.owner='Unknown'
                 end
              %>
              <tr class="<%= @class %>" data-link="<%= invite_path(invite) %>">
                <td><%= @server.title %></td>
                <td><%= @server.owner %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>

